# Compiled Java Classes #
#########################
*.class

# IntelliJ Files and Directories #
##################################
*.xml
*.iml
.idea/
out/
target/
test/

# Zipped Files #
################
*.zip
*.rar

# Formatted Documents #
#######################
*.pdf
*.doc
*.docx
*.xlsx
*.csv
*~
